# Resources/config/services/filesystem_storage_manager.yml
parameters:

    webeweb.bundle.edmbundle.directory: "%kernel.root_dir%/data/edm"

services:

    webeweb.bundle.edmbundle.provider.storage.filesystem:
        class:     WBW\Bundle\EDMBundle\Provider\FileSystemStorageProvider
        arguments: ["%webeweb.bundle.edmbundle.directory%"]
        tags:
            - { name: edm.storage.provider}
