# Composer
/composer.lock
/vendor/*

# Resources
/Resources/public/*
!/Resources/public/img

# Fixtures
/Tests/Fixtures/app/var/*
!/Tests/Fixtures/app/var/data/.gitkeep
!/Tests/Fixtures/Entity/TestDocument.bak.php
