/vendor/*
/.phpunit.result.cache
/composer.lock

/Resources/public/*
!/Resources/public/img

/Tests/Fixtures/app/var/*
!/Tests/Fixtures/app/var/data/.gitignore
!/Tests/Fixtures/Model/TestDocument.bak.php
