# Composer
/composer.lock
/vendor/*

# Fixtures
/Tests/Fixtures/Entity/TestDocument.bak.php
/Tests/Fixtures/app/var/test.sqlite
/Tests/Fixtures/app/var/cache/*
/Tests/Fixtures/app/var/data/*
!/Tests/Fixtures/app/var/data/.gitkeep
/Tests/Fixtures/app/var/logs/*
