{# Resources/views/Document/form/_content.html.twig #}
<div class="row clearfix">
    <div class="{{ bootstrapGrid({"lg": 6, "md": 6, "sm": 12, "xs": 12}) }}">
        {{ form_row(form.name) }}
    </div>
</div>
