{# Resources/views/Dropzone/upload_content.html.twig #}
<div class="dz-message">
    <div class="drag-icon-cph">
        {{ bootstrapGlyphicon({"name": "hand-up"}) }}
    </div>
    <h3>{{ "DropzoneController.uploadAction.title"|trans({}, "EDMBundle") }}</h3>
</div>
<div class="fallback">
    {{ form_row(form.upload) }}
</div>
