{# Resources/views/Dropzone/upload/content.html.twig #}
<div class="dz-message">
    <div class="drag-icon-cph">
        {{ fontAwesomeIcon({"name": "hand-point-up"}) }}
    </div>
    <h3>{{ "DropzoneController.uploadAction.title" | trans({}, "WBWEDMBundle") }}</h3>
</div>
<div class="fallback">
    {{ form_row(form.uploadedFile) }}
</div>
